.smallannouncement {
  background-color: #F2F2F2;
  border-radius: 18px;
  width: 350px;

  &_image {

    img {
      border-radius: 18px 18px 0 0;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: .8rem;

    h4 {
      color: #000;
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }

    &-infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &-profile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
        font-weight: 100;
        font-size: .8rem;
        gap: .7rem;

        img {
          width: 40px;
          border-radius: 50%;
        }
      }

      &-address {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;
        font-size: 1.1rem;

        p {
          font-weight: 100;
          font-size: .8rem;
          font-style: italic;
        }
      }
    }
  }

  // &_callToAction {}
}