.btn-plain{
  background-color: $blue;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  border:2px solid $blue;
  &:hover{
      color: $blue;
      background-color: white;
      border: 2px solid $blue;
  }
  @media screen and (max-width: 768px) {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
.btn-plain-small{
  background-color: $blue;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  border:2px solid $blue;
  &:hover{
    color: $blue;
    background-color: white;
    border: 2px solid $blue;
  }
  @media screen and (max-width: 768px) {
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
.btn-plain-return{
  background-color: white;
  border-radius: 50px;
  color: $blue;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 40px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  border:2px solid $blue;
}

.btn-tab{
  background-color: $blue;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  border:2px solid $blue;

}

.btn-tab{
  background-color: $blue;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  border:2px solid $blue;

}

.btn-tab_empty{
  background-color: white;
  border-radius: 50px;
  color: $blue;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  border:2px solid $blue;
  &:hover{
    background-color: $blue;
    color: white;
  }
}

.btn-empty-hidden{
  background-color: white;
  border-radius: 50px;
  color: grey;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  border:2px solid grey;

}

.btn-tab_empty[data-active='true']{
  background-color: $blue;
  color: white;
}

.input-white{
  background-color: white;
  border: none !important;
  border-radius: 50px;
  color: $blue;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem 6rem 1rem 2rem;
  width: 100%;
  box-shadow: rgba($blue, 0.25) 0px 13px 27px -5px, rgba($blue, 0.3) 0px 8px 16px -8px;
  transition: color 0.3s ease-in-out;
  &:focus{
    outline: none;
  }
  &::placeholder {
    font-size: 1rem;
    color: rgba($blue, 0.8);
  }
}