@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'colors.scss';
@import 'constants.scss';

*{
  font-family: Montserrat;
}

body{
  height: 100vh;
  width: 100vw;
  font-family: Montserrat;
  color: $blue;
}
#root {
  height: 100%;
  width: 100%;
}

h1{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: Montserrat;
  color: black;
}

p{
  font-family: Montserrat;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}

h3{
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Montserrat;
  color: $blue;
}

h4{
  font-size: 1.2rem;
  font-weight: 700;
  font-family: Montserrat;
  color: black;
  text-transform: uppercase;
}
.title-hero{
  font-size: 3.5rem;
  line-height: 3.5rem;
  font-weight: 900;
  font-family: Montserrat;
  color: black;
  @media screen and (max-width: 768px) {
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
  }
}

.subtitle{
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Montserrat;
  color: black;
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    text-align: center;
  }
}

.rotate {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  width: 45vw;
  height: 100%;
  background-color: lightgray;
  position: fixed;
  top: 0;
  right: -50vw;
  overflow-x: hidden;
  padding-top: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}


.sidebar-toggle {
  position: fixed;
  bottom: 20px;
  right: 0px;
  background-color: #ccc;
  padding: 10px;
  transition: right 0.3s ease-in-out;
}